Repository ZYN-zyn77/Sparkle-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python, backend-go, mobile, Python Backend Core, Go Gateway, Mobile State Management, Mobile UI Components

.codecov.yml:

# Codecov Configuration for Sparkle Project
# Production-grade test coverage management

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...90"
  status:
    project:
      default:
        target: 70%
        threshold: 2%
        if_ci_failed: error
        informational: false
      backend-python:
        paths:
          - "backend/app/**"
        target: 75%
        threshold: 2%
      backend-go:
        paths:
          - "backend/gateway/**"
        target: 70%
        threshold: 2%
      mobile-flutter:
        paths:
          - "mobile/lib/**"
        target: 60%
        threshold: 3%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
    changes:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false
  javascript:
    enable_partials: true

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true

flags:
  backend-python:
    paths:
      - backend/app/
    carryforward: true
    after_n_builds: 1
  backend-go:
    paths:
      - backend/gateway/
    carryforward: true
    after_n_builds: 1
  mobile:
    paths:
      - mobile/lib/
    carryforward: true
    after_n_builds: 1

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: backend_python_core
      name: Python Backend Core
      paths:
        - backend/app/orchestrator/**
        - backend/app/services/**
        - backend/app/tools/**
    - component_id: backend_go_gateway
      name: Go Gateway
      paths:
        - backend/gateway/internal/**
    - component_id: mobile_providers
      name: Mobile State Management
      paths:
        - mobile/lib/providers/**
        - mobile/lib/core/services/**
    - component_id: mobile_widgets
      name: Mobile UI Components
      paths:
        - mobile/lib/presentation/**

ignore:
  - "**/*_test.go"
  - "**/*_test.py"
  - "**/test/**"
  - "**/tests/**"
  - "**/*.pb.go"
  - "**/*_pb2.py"
  - "**/*_pb2_grpc.py"
  - "**/generated/**"
  - "**/mocks/**"
  - "**/*.g.dart"
  - "**/*.freezed.dart"
  - "**/migrations/**"
  - "**/alembic/**"

github_checks:
  annotations: true

fix: server-side hotfixes for deployment
  backend/alembic/env.py
Due: none

fix: resolve migration conflict for error_records table in p1_2
  backend/alembic/versions/p1_2_error_book.py
Due: none

feat(database): 添加认知标签字段并优化数据库迁移逻辑
  backend/alembic/versions/p10_add_cognitive_tags.py
  backend/alembic/versions/p1_2_error_book.py
  backend/alembic/versions/p1_3_error_book_refactor.py
Due: none

fix: harden migration scripts (p1_2, p1_3, p10) for idempotency and re-entrance
  backend/alembic/versions/p1_2_error_book.py
Due: none

fix(alembic): 添加数据库表存在性检查以提高迁移安全性
  backend/alembic/versions/p10_add_cognitive_tags.py
  backend/alembic/versions/p1_2_error_book.py
  backend/alembic/versions/p1_3_error_book_refactor.py
Due: none

feat(database): 实现聊天消息表分区并添加安全审计表
  backend/alembic/versions/087653ac70dd_partition_chat_messages.py
  backend/alembic/versions/34289ecf1f13_add_security_audit_tables.py
  backend/alembic/versions/5d49f5939ec8_add_initial_mastery_to_study_records.py
  backend/alembic/versions/a1b2c3d4e5f6_create_community_tables.py
  backend/alembic/versions/add_agent_stats_table.py
  backend/alembic/versions/add_global_spark_count.py
  backend/alembic/versions/cqrs_001_infrastructure.py
  backend/alembic/versions/effadcff68cd_add_mastery_audit_log_and_outbox_events.py
  backend/alembic/versions/fb11f8afb34c_initial_migration_with_all_models.py
  backend/alembic/versions/p0_add_vector_hnsw_indexes.py
  backend/alembic/versions/p10_persona_v31.py
  backend/alembic/versions/p11_add_expansion_feedback.py
  backend/alembic/versions/p12_add_interventions_phase0.py
  backend/alembic/versions/p13_add_event_stream_state.py
  backend/alembic/versions/p14_add_semantic_memory_phase2.py
  backend/alembic/versions/p15_add_nightly_reviews.py
  backend/alembic/versions/p16_add_nightly_review_feedback.py
  backend/alembic/versions/p1_1_jsonb_migration.py
  backend/alembic/versions/p1_add_post_visibility.py
  backend/alembic/versions/p2_add_user_tool_history.py
  backend/alembic/versions/p3_add_node_positions.py
  backend/alembic/versions/p3_add_shared_resource_capsule_prism.py
  backend/alembic/versions/p4_add_message_collab_features.py
  backend/alembic/versions/p5_community_advanced_features.py
  backend/alembic/versions/p6_add_revision_to_mastery.py
  backend/alembic/versions/p7_add_stored_files.py
  backend/alembic/versions/p8_add_document_chunks.py
  backend/alembic/versions/p9_add_group_files.py
  backend/app/utils/migration_helpers.py
Due: backend-python

feat(api): 添加图知识服务可用性检查机制
  backend/app/api/v1/graph_monitor.py
  backend/app/config.py
  backend/app/services/rerank_service.py
Due: backend-python, Python Backend Core

feat(api): 添加知识服务依赖注入并修复测试端点响应类型
  backend/app/api/v1/graphrag_trace.py
Due: backend-python

feat(ingestion): 添加PDF处理功能并实现条件导入
  backend/app/core/ingestion/ingestion_service.py
  backend/requirements.txt
Due: backend-python

feat(backend): 添加文档格式支持并改进依赖管理
  backend/app/core/ingestion/ingestion_service.py
  backend/app/services/analytics/weekly_synthesis_service.py
  backend/requirements.txt
  backend/scripts/startup_check.py
Due: backend-python, Python Backend Core

feat(dependencies): 添加可选依赖项以支持LLM、文档解析和报告生成
  README.md
  backend/app/agents/graph/llm_factory.py
  backend/app/services/document_service.py
  backend/app/services/llm/providers.py
  backend/app/services/llm_service.py
  backend/pyproject.toml
  backend/requirements-ingestion.txt
  backend/requirements-llm.txt
  backend/requirements-reporting.txt
  backend/requirements.txt
  backend/scripts/import_check.py
Due: backend-python, Python Backend Core

feat(core): 添加Agent Graph V2可选依赖支持
  README.md
  backend/app/config.py
  backend/app/main.py
  backend/pyproject.toml
  backend/requirements-agent-graph.txt
  backend/scripts/import_check.py
Due: backend-python

feat(config): 添加图同步工作器配置选项
  backend/app/config.py
  backend/app/main.py
  buf.gen.yaml
  buf.yaml
  proto/sparkle/inference/v1/inference.proto
  proto/sparkle/rag/v1/evidence.proto
  proto/sparkle/signals/v1/signals.proto
Due: backend-python

feat(core): 添加Redis连接检测和错误处理日志
  backend/app/core/cache.py
  backend/app/core/websocket.py
  backend/app/services/user_service.py
  backend/scripts/import_check.py
  buf.gen.yaml
  buf.lock
Due: backend-python, Python Backend Core

feat(galaxy): 添加SSE事件流断点续传和性能优化功能
  backend/app/api/v1/galaxy.py
  backend/app/core/sse.py
  backend/app/services/circuit_breaker.py
  backend/app/services/knowledge_service.py
  backend/app/services/llm_dispatcher.py
  mobile/lib/features/galaxy/data/repositories/enhanced_galaxy_repository.dart
  mobile/lib/features/galaxy/data/services/galaxy_layout_engine.dart
  mobile/lib/features/galaxy/presentation/providers/galaxy_provider.dart
  mobile/lib/features/galaxy/presentation/screens/galaxy_screen.dart
  mobile/lib/features/galaxy/presentation/widgets/galaxy/star_map_painter.dart
Due: backend-python, mobile, Python Backend Core

feat: 添加ArtifactScope枚举和文件ID支持到推理服务
  backend/app/api/v1/galaxy.py
  backend/app/core/cache.py
  backend/app/models/document_chunks.py
  backend/app/models/file_storage.py
  backend/app/services/analytics/weekly_synthesis_service.py
  backend/app/workers/expansion_worker.py
  mobile/lib/core/services/websocket_service.dart
  mobile/lib/features/auth/data/repositories/auth_repository.dart
  mobile/lib/features/galaxy/data/models/galaxy_optimization_config.dart
  mobile/lib/features/galaxy/data/services/galaxy_performance_monitor.dart
  mobile/lib/features/galaxy/presentation/providers/galaxy_provider.dart
  mobile/lib/features/galaxy/presentation/screens/galaxy_screen.dart
  mobile/lib/features/galaxy/presentation/widgets/galaxy/star_map_painter.dart
  mobile/lib/gen/agent_service.pbgrpc.dart
  mobile/lib/gen/agent_service_v2.pbgrpc.dart
  mobile/lib/gen/error_book.pbgrpc.dart
  mobile/lib/gen/galaxy_service.pbgrpc.dart
  mobile/lib/gen/sparkle/inference/v1/inference.pbgrpc.dart
  proto/sparkle/inference/v1/inference.proto
Due: backend-python, mobile, Python Backend Core, Mobile State Management

feat(core): 增强Redis连接安全性并添加HyDE搜索策略
  backend/app/core/cache.py
  backend/app/core/event_bus.py
  backend/app/core/redis_search_client.py
  backend/app/core/sse.py
  backend/app/core/websocket.py
  backend/app/services/cognitive_service.py
  backend/app/services/knowledge_service.py
  backend/app/services/llm_service.py
Due: backend-python, Python Backend Core

feat(LLM): 重构LLM服务模块架构，新增状态机驱动对话和协作工作流
  docs/01_核心模块文档/01_模块总览.md
  docs/01_核心模块文档/03_知识星图模块.md
  docs/01_核心模块文档/09_认知学习与编排引擎.md
  docs/01_核心模块文档/10_错题本模块.md
  docs/01_核心模块文档/11_学习洞察与路径预测.md
  docs/02_技术设计文档/01_技术白皮书.md
  docs/08_文档索引.md
  docs/09_Cognitive_Nexus/05_贝叶斯画像技术手册.md
Due: none

feat(galaxy): 添加知识整合服务和词汇节点API端点
  backend/app/api/v1/galaxy.py
  backend/app/services/knowledge_integration_service.py
  mobile/lib/features/focus/data/models/candidate_action_model.dart
  mobile/lib/features/focus/data/services/candidate_feedback_service.dart
  mobile/lib/features/focus/data/services/prediction_service.dart
  mobile/lib/features/focus/presentation/providers/mindfulness_provider.dart
  mobile/lib/features/focus/presentation/widgets/candidate_action_sheet.dart
  mobile/lib/features/translation/data/services/knowledge_integration_service.dart
  mobile/lib/features/translation/presentation/widgets/translation_popover.dart
Due: backend-python, mobile, Python Backend Core

feat(galaxy): 添加NodeWithStatus类型支持节点状态查询
  backend/app/api/v1/galaxy.py
  backend/app/db/session.py
  backend/app/services/knowledge_integration_service.py
  minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
  minio_data/.minio.sys/buckets/.usage-cache.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage.json/xl.meta
  minio_data/.minio.sys/buckets/sparkle-files/.usage-cache.bin.bkp/xl.meta
  minio_data/.minio.sys/buckets/sparkle-files/.usage-cache.bin/xl.meta
  minio_data/.minio.sys/tmp/.trash/0e5287f2-df33-4954-912d-8f9816ce9521/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/171c7af5-0f20-4c8a-8d22-56143d509524/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/368669c0-85ff-4c28-a90b-368f3b3f5af4/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/48b58a37-7555-4ed3-81e0-9cbd6e0a1885/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/49f0c5d6-0443-45cc-ad02-32e1825f9888/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/555922bf-d75a-4850-a2d4-181a8ba6fa57/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/7b5b3f56-4b16-48a5-b95f-e644366408e9/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/80a7fb9e-a20a-4c06-aea3-e5b3027c43d9/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/8d0a8816-d2a2-49a8-913d-4a5f448d38f9/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/901caac2-1aee-420e-a70e-39342b6800a9/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/991fb006-ceee-47f9-9725-28c8ab012256/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/9c732684-31f7-4df7-a2ca-d8ffe6c9bd88/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/a47d956e-a25d-45c3-ba61-180c31a3d384/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/bf9edbda-3f82-42da-978d-8c609fc44af5/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/c0c2610c-a067-40c5-8518-6cc1698d5a27/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/ccbb073e-9c63-42b3-a07c-b09e3325a68d/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/d4fcaea9-bb96-4e8a-8b83-1601524313c5/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/eea971c0-dbca-49ea-80da-4df4bceb3f18/xl.meta.bkp
Due: backend-python, Python Backend Core

feat(learning-asset): 集成A/B测试优化资产建议功能
  backend/app/services/ab_test_service.py
  backend/app/services/learning_asset_service.py
  minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
  minio_data/.minio.sys/buckets/.usage-cache.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage.json/xl.meta
  minio_data/.minio.sys/buckets/sparkle-files/.usage-cache.bin.bkp/xl.meta
  minio_data/.minio.sys/buckets/sparkle-files/.usage-cache.bin/xl.meta
  mobile/lib/features/translation/data/services/translation_service.dart
Due: backend-python, mobile, Python Backend Core

chore(minio): 更新系统元数据文件
  PHASE9_MOAT_IMPLEMENTATION_PROMPT.md
  minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
  minio_data/.minio.sys/buckets/.usage-cache.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage.json/xl.meta
  minio_data/.minio.sys/buckets/sparkle-files/.usage-cache.bin.bkp/xl.meta
  minio_data/.minio.sys/buckets/sparkle-files/.usage-cache.bin/xl.meta
  minio_data/.minio.sys/tmp/.trash/00d7d712-9e31-42c0-8d8a-2a11ec92dbe7/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/24d8b38c-119c-4358-b9f6-635810512ccd/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/8ff450c5-707c-48b0-b795-af20e5985a6e/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/a53c00cb-c358-4cbe-b1f2-8b4b5d0c1d86/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/b474f09e-7cf5-4ca0-b457-9a12c3ee7ae5/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/f22be2c5-a9fd-4df7-9668-ac5da73748a8/xl.meta.bkp
Due: none

feat(demo_data_service): 添加社区、专注、评测和错题本模块的演示数据
  minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
  minio_data/.minio.sys/buckets/.usage-cache.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage.json/xl.meta
  minio_data/.minio.sys/buckets/sparkle-files/.usage-cache.bin.bkp/xl.meta
  minio_data/.minio.sys/buckets/sparkle-files/.usage-cache.bin/xl.meta
  minio_data/.minio.sys/tmp/.trash/1a9f5ba9-3748-4d53-99e5-e068ebdd1609/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/263abb8a-5370-4dec-a4ea-7d74af8ccf07/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/30cda100-65af-4563-a44a-8944652a94ee/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/4e5e5846-f413-4bac-9de7-4570e431cb4f/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/5470eb10-029e-485d-bcd8-8abd5ce7797b/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/fa1df297-c08c-4435-aece-d46f2e1a84a4/xl.meta.bkp
  mobile/lib/core/services/demo_data_service.dart
Due: mobile, Mobile State Management

chore(git): 添加.meta文件到.gitignore
  .gitignore
  minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage.json/xl.meta
  minio_data/.minio.sys/tmp/.trash/171c7af5-0f20-4c8a-8d22-56143d509524/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/2ecb6504-f56c-44b1-9afe-4c4b1cf66956/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/48b58a37-7555-4ed3-81e0-9cbd6e0a1885/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/49f0c5d6-0443-45cc-ad02-32e1825f9888/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/5573d296-8983-475c-90f8-aea313373bfa/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/7ba5bce9-10c9-4bfa-8086-a9be21efdb92/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/9c732684-31f7-4df7-a2ca-d8ffe6c9bd88/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/a47d956e-a25d-45c3-ba61-180c31a3d384/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/b3ca8cbc-f366-40b3-b865-8ffdc37ec13a/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/b7411cd6-209a-4535-8ad6-8b1b42695605/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/bd8a8219-0054-4496-868c-ed15091d8814/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/c0c2610c-a067-40c5-8518-6cc1698d5a27/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/cee8f007-c0ac-41a2-b3dc-5eb10cbb6a2d/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/e2a4a6fa-f1de-4c85-a3e2-0cab82af8764/xl.meta.bkp
  mobile/.gitignore
Due: none

替换 app.database 导入：将旧的 app.database 导入路径统一替换为 app.db.session 和 app.core.database。
  .gitignore
  backend/app/api/v1/signals.py
  backend/scripts/clean_demo_data.py
  docs/05_项目历史与里程碑/Phase4_Summary/PHASE4_DEPLOYMENT_CHECKLIST.md
Due: backend-python

更新 README.md
  README.md
Due: none

增加了深浅色模式更换功能。
  mobile/lib/core/design/materials.dart
  mobile/lib/features/home/presentation/screens/home_screen.dart
  mobile/lib/features/home/presentation/widgets/focus_card.dart
  mobile/lib/features/home/presentation/widgets/prism_card.dart
  mobile/lib/features/home/presentation/widgets/sprint_card.dart
  mobile/lib/features/home/presentation/widgets/weather_header.dart
Due: mobile
