Repository ZYN-zyn77/Sparkle-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python, backend-go, mobile, Python Backend Core, Go Gateway, Mobile State Management, Mobile UI Components

.codecov.yml:

# Codecov Configuration for Sparkle Project
# Production-grade test coverage management

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...90"
  status:
    project:
      default:
        target: 70%
        threshold: 2%
        if_ci_failed: error
        informational: false
      backend-python:
        paths:
          - "backend/app/**"
        target: 75%
        threshold: 2%
      backend-go:
        paths:
          - "backend/gateway/**"
        target: 70%
        threshold: 2%
      mobile-flutter:
        paths:
          - "mobile/lib/**"
        target: 60%
        threshold: 3%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error
    changes:
      default:
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false
  javascript:
    enable_partials: true

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true

flags:
  backend-python:
    paths:
      - backend/app/
    carryforward: true
    after_n_builds: 1
  backend-go:
    paths:
      - backend/gateway/
    carryforward: true
    after_n_builds: 1
  mobile:
    paths:
      - mobile/lib/
    carryforward: true
    after_n_builds: 1

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: backend_python_core
      name: Python Backend Core
      paths:
        - backend/app/orchestrator/**
        - backend/app/services/**
        - backend/app/tools/**
    - component_id: backend_go_gateway
      name: Go Gateway
      paths:
        - backend/gateway/internal/**
    - component_id: mobile_providers
      name: Mobile State Management
      paths:
        - mobile/lib/providers/**
        - mobile/lib/core/services/**
    - component_id: mobile_widgets
      name: Mobile UI Components
      paths:
        - mobile/lib/presentation/**

ignore:
  - "**/*_test.go"
  - "**/*_test.py"
  - "**/test/**"
  - "**/tests/**"
  - "**/*.pb.go"
  - "**/*_pb2.py"
  - "**/*_pb2_grpc.py"
  - "**/generated/**"
  - "**/mocks/**"
  - "**/*.g.dart"
  - "**/*.freezed.dart"
  - "**/migrations/**"
  - "**/alembic/**"

github_checks:
  annotations: true

feat(galaxy): 添加设计系统颜色常量并重构性能监控集成
  .roomodes
  mobile/lib/core/design/design_system.dart
  mobile/lib/core/services/galaxy_accessibility_service.dart
  mobile/lib/core/services/galaxy_edge_animation.dart
  mobile/lib/core/services/galaxy_gesture_recognizer.dart
  mobile/lib/core/services/galaxy_monitoring_integration.dart
  mobile/lib/core/services/galaxy_performance_monitor.dart
  mobile/lib/core/services/notification_service.dart
  mobile/lib/core/services/predictive_service.dart
  mobile/lib/core/services/predictive_viewport_preloader.dart
  mobile/lib/core/services/wasm_layout_accelerator.dart
  mobile/lib/presentation/screens/galaxy_screen.dart
  mobile/lib/presentation/screens/stats/calendar_stats_screen.dart
  mobile/lib/presentation/screens/task/task_execution_screen.dart
  mobile/lib/presentation/widgets/galaxy/galaxy_error_dialog.dart
  mobile/lib/presentation/widgets/galaxy/star_map_painter.dart
  mobile/test/integration/galaxy_integration_test.dart
  mobile/test/unit/galaxy_provider_test.dart
  mobile/test/widget/galaxy_screen_test.dart
Due: mobile, Mobile State Management, Mobile UI Components

feat(p2-audit): 完成P2审计的全部测试覆盖 (290+新测试)
  backend/gateway/internal/agent/client_test.go
  backend/gateway/internal/db/db_integration_test.go
  backend/gateway/internal/service/cache_integration_test.go
  docs/06_安全与质量报告/P2_AUDIT_COMPLETION_REPORT.md
  mobile/test/integration/websocket_integration_test.dart
  mobile/test/widget/chat_screen_basic_test.dart
  mobile/test/widget/theme_provider_test.dart
Due: none

feat(phase2): 完成性能和负载测试套件 (60+新测试)
  backend/app/test_performance_load.py
  backend/gateway/internal/handler/performance_load_test.go
  docs/06_安全与质量报告/PERFORMANCE_LOAD_TESTING_REPORT.md
Due: backend-python

feat(phase2): 完成安全测试套件 (70+新测试)
  backend/app/test_security.py
  backend/gateway/internal/handler/security_test.go
  docs/06_安全与质量报告/SECURITY_TESTING_REPORT.md
Due: backend-python

docs(phase2): 添加Phase 2完成报告和部署指南
  docs/06_安全与质量报告/PHASE_2_COMPLETION_REPORT.md
Due: none

refactor: Address technical audit recommendations
  .env.example
  .github/workflows/ci.yml
  Makefile
  backend/Dockerfile
  backend/gateway/Dockerfile
  docker-compose.yml
  mobile/lib/app/theme.dart
  mobile/lib/presentation/screens/stats/calendar_stats_screen.dart
Due: backend-go, mobile, Mobile UI Components

refactor(theme): 完成全面的双色主题适配 - 消除所有颜色割裂
  docs/04_功能实现指南/10_Agent全功能接入改进方案.md
  mobile/lib/presentation/screens/profile/profile_screen.dart
  mobile/lib/presentation/screens/task/task_create_screen.dart
  mobile/lib/presentation/widgets/chat/agent_reasoning_bubble.dart
  mobile/lib/presentation/widgets/chat/agent_reasoning_bubble_v2.dart
  mobile/lib/presentation/widgets/chat/chat_bubble.dart
  mobile/lib/presentation/widgets/common/flame_indicator.dart
  mobile/lib/presentation/widgets/community/group_chat_bubble.dart
  mobile/lib/presentation/widgets/galaxy/galaxy_error_dialog.dart
  mobile/lib/presentation/widgets/galaxy/node_preview_card.dart
Due: mobile, Mobile UI Components

feat(agent-phase4): P3协作流程集成 + P4长期记忆与优化 完整实施
  PHASE4_COMPLETION_VERIFICATION.md
  PHASE4_FINAL_SUMMARY.md
  PHASE4_QUICK_REFERENCE.md
  PHASE4_TESTING_AND_DEPLOYMENT.md
  backend/alembic/versions/p2_add_user_tool_history.py
  backend/app/agents/standard_workflow.py
  backend/app/models/tool_history.py
  backend/app/orchestration/executor.py
  backend/app/routing/router_node.py
  backend/app/routing/tool_preference_router.py
  backend/app/services/tool_history_service.py
  mobile/lib/presentation/providers/theme_provider.dart
  mobile/lib/presentation/screens/profile/theme_settings_screen.dart
Due: backend-python, mobile, Python Backend Core, Mobile UI Components

docs(phase4): 添加Phase 4快速入门指南
  PHASE4_GETTING_STARTED.md
Due: none

docs(phase4): 添加完整的生产部署检查清单
  PHASE4_DEPLOYMENT_CHECKLIST.md
Due: none

refactor(chat): 移除设计系统依赖并简化聊天气泡组件
  mobile/lib/main.dart
  mobile/lib/presentation/screens/task/task_create_screen.dart
  mobile/lib/presentation/widgets/community/group_chat_bubble.dart
Due: mobile, Mobile UI Components
