Repository ZYN-zyn77/Sparkle-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python, backend-go, mobile, Python Backend Core, Go Gateway, Mobile State Management, Mobile UI Components

feat(community): 添加端到端加密、消息举报、收藏等高级功能
  backend/alembic/versions/p5_community_advanced_features.py
  backend/app/api/v1/community.py
  backend/app/models/community.py
  backend/app/schemas/community.py
  backend/app/services/community_advanced_service.py
  docs/ALIBABA_COLLABORATION_BRIEF.md
  mobile/lib/app/theme.dart
  mobile/lib/core/network/api_endpoints.dart
  mobile/lib/data/models/community_model.dart
  mobile/lib/data/repositories/mock_community_repository.dart
  mobile/lib/presentation/providers/community_agent_provider.dart
  mobile/lib/presentation/providers/community_provider.dart
  mobile/lib/presentation/screens/community/group_chat_screen.dart
  mobile/lib/presentation/screens/galaxy_screen.dart
  mobile/lib/presentation/screens/profile/unified_settings_screen.dart
  mobile/lib/presentation/screens/stats/calendar_stats_screen.dart
  mobile/lib/presentation/widgets/common/loading_indicator.dart
  mobile/lib/presentation/widgets/community/thread_sheet.dart
  mobile/lib/presentation/widgets/focus/focus_agent_sheet.dart
  mobile/lib/presentation/widgets/profile/statistics_card.dart
  mobile/test/unit/community_agent_provider_test.dart
  mobile/test/widget/focus_agent_sheet_test.dart
Due: backend-python, mobile, Python Backend Core, Mobile UI Components

``` refactor(mobile): 移除重复导入和优化代码结构
  docs/ALIBABA_COLLABORATION_BRIEF.md
  mobile/lib/presentation/screens/calendar/daily_detail_screen.dart
  mobile/lib/presentation/screens/chat/chat_screen.dart
  mobile/lib/presentation/screens/cognitive/pattern_list_screen.dart
  mobile/lib/presentation/screens/community/private_chat_screen.dart
  mobile/lib/presentation/screens/focus/mindfulness_mode_screen.dart
  mobile/lib/presentation/screens/profile/profile_screen.dart
  mobile/lib/presentation/screens/task/task_detail_screen.dart
  mobile/lib/presentation/widgets/chat/action_card.dart
  mobile/lib/presentation/widgets/chat/agent_reasoning_bubble.dart
  mobile/lib/presentation/widgets/chat/agent_reasoning_bubble_v2.dart
  mobile/lib/presentation/widgets/chat/chat_bubble.dart
  mobile/lib/presentation/widgets/common/flame_indicator.dart
  mobile/lib/presentation/widgets/community/private_chat_bubble.dart
  mobile/lib/presentation/widgets/galaxy/galaxy_error_dialog.dart
  mobile/lib/presentation/widgets/galaxy/node_preview_card.dart
  mobile/lib/presentation/widgets/home/curiosity_capsule_card.dart
Due: mobile, Mobile UI Components

feat(config): 环境变量配置增强支持默认值和字符串清理
  backend/app/config.py
  backend/app/orchestration/executor.py
  backend/app/orchestration/orchestrator.py
  backend/app/services/agent_grpc_service.py
  backend/gateway/internal/agent/client.go
  backend/gateway/internal/config/config.go
  backend/gateway/internal/handler/chat_orchestrator.go
  backend/gateway/internal/middleware/auth.go
  backend/grpc_server.py
  docs/06_安全与质量报告/BACKEND_BUG_AUDIT_REPORT_20251229.md
  docs/06_安全与质量报告/BUG_FIX_SUMMARY_20251229.md
  mobile/lib/core/network/api_endpoints.dart
  mobile/lib/core/services/websocket_chat_service_v2.dart
  mobile/lib/data/repositories/chat_repository.dart
  mobile/lib/data/repositories/community_share_repository.dart
  mobile/lib/presentation/providers/chat_provider.dart
  mobile/lib/presentation/providers/community_agent_provider.dart
  mobile/lib/presentation/screens/chat/chat_screen.dart
  mobile/lib/presentation/widgets/chat/chat_bubble.dart
  mobile/lib/presentation/widgets/community/private_chat_bubble.dart
  mobile/test/unit/community_agent_provider_test.dart
  mobile/test/widget/focus_agent_sheet_test.dart
Due: backend-python, backend-go, mobile, Python Backend Core, Go Gateway, Mobile State Management, Mobile UI Components

fix(security): WebSocket authentication and race condition hardening
  mobile/lib/core/services/websocket_chat_service_v2.dart
  mobile/test/unit/websocket_chat_service_v2_test.dart
Due: mobile, Mobile State Management

fix(security): WebSocket race condition hardening and protocol safety
  mobile/lib/core/constants/api_constants.dart
  mobile/lib/core/services/websocket_chat_service_v2.dart
Due: mobile, Mobile State Management

Add design atom widget tests
  mobile/test/design/atoms/ai_status_capsule_test.dart
  mobile/test/design/atoms/glass_card_test.dart
  mobile/test/design/atoms/task_colors_test.dart
  mobile/test/design/atoms/task_pill_test.dart
Due: none

Use design tokens for task colors
  mobile/lib/core/design/components/atoms/task_pill.dart
  mobile/lib/core/design/tokens/task_colors.dart
  mobile/test/unit/task_colors_test.dart
  mobile/test/widget/task_pill_test.dart
Due: mobile

Fix user tool history user_id UUID
  backend/alembic/versions/p2_add_user_tool_history.py
  backend/app/models/tool_history.py
  backend/app/orchestration/executor.py
  backend/app/services/tool_history_service.py
Due: backend-python, Python Backend Core

Use context extension for task pill brightness
  mobile/lib/core/design/components/atoms/task_pill.dart
Due: mobile

Fix task completion gating on success
  mobile/lib/presentation/screens/task/task_execution_screen.dart
Due: mobile, Mobile UI Components

Add retry UI for task chat send failures
  mobile/lib/presentation/providers/task_chat_provider.dart
  mobile/lib/presentation/widgets/task/task_chat_panel.dart
  mobile/test/widget/task_chat_panel_test.dart
Due: mobile, Mobile UI Components

Add task execution draft persistence
  mobile/lib/presentation/screens/task/task_execution_screen.dart
Due: mobile, Mobile UI Components

Ensure omnibar chat dispatch sends message
  mobile/lib/presentation/widgets/home/omnibar.dart
Due: mobile, Mobile UI Components

Improve chat connection UX handling
  mobile/lib/presentation/screens/chat/chat_screen.dart
  mobile/lib/presentation/widgets/chat/chat_input.dart
Due: mobile, Mobile UI Components

Add confirmation before clearing chat session
  mobile/lib/presentation/providers/chat_provider.dart
  mobile/lib/presentation/screens/chat/chat_screen.dart
Due: mobile, Mobile UI Components

Handle invalid websocket user IDs safely
  backend/gateway/internal/handler/chat_orchestrator.go
  backend/gateway/internal/handler/chat_orchestrator_test.go
Due: backend-go, Go Gateway

Scope chat history keys by user and enforce session ownership
  backend/gateway/internal/handler/chaos.go
  backend/gateway/internal/handler/chat_orchestrator.go
  backend/gateway/internal/service/cache_integration_test.go
  backend/gateway/internal/service/chat_history.go
  backend/gateway/internal/service/chat_history_test.go
Due: backend-go, Go Gateway

Add timeout to async chat writes
  backend/gateway/internal/handler/chat_orchestrator.go
Due: backend-go, Go Gateway

Fix chat history breaker and context timeout
  backend/gateway/internal/db/scripts.go
  backend/gateway/internal/db/scripts/chat_history_enqueue.lua
  backend/gateway/internal/service/cache_integration_test.go
  backend/gateway/internal/service/chat_history.go
  backend/gateway/internal/service/chat_history_test.go
  backend/gateway/internal/service/user_context.go
  backend/gateway/internal/service/user_context_test.go
Due: backend-go, Go Gateway

Add comprehensive project whitepaper for AI agents
  docs/项目全景技术与需求白皮书.md
Due: none

feat(error-book): comprehensive implementation of AI-powered Error Book
  backend/alembic/versions/p1_3_error_book_refactor.py
  backend/app/api/v1/error_book.py
  backend/app/gen/proto/error_book/error_book_pb2.py
  backend/app/gen/proto/error_book/error_book_pb2.pyi
  backend/app/gen/proto/error_book/error_book_pb2_grpc.py
  backend/app/models/__init__.py
  backend/app/models/error_book.py
  backend/app/schemas/error_book.py
  backend/app/services/error_book_grpc_service.py
  backend/app/services/error_book_service.py
  backend/gateway/cmd/server/main.go
  backend/gateway/gen/proto/error_book/error_book.pb.go
  backend/gateway/gen/proto/error_book/error_book_grpc.pb.go
  backend/gateway/go.mod
  backend/gateway/go.sum
  backend/gateway/internal/error_book/client.go
  backend/gateway/internal/handler/error_book.go
  backend/grpc_server.py
  mobile/ERROR_BOOK_IMPLEMENTATION_SUMMARY.md
  mobile/lib/app/routes.dart
  mobile/lib/data/repositories/error_repository.dart
  mobile/lib/features/error_book/data/models/error_record.dart
  mobile/lib/features/error_book/data/models/error_record.freezed.dart
  mobile/lib/features/error_book/data/models/error_record.g.dart
  mobile/lib/features/error_book/data/providers/error_book_provider.dart
  mobile/lib/features/error_book/data/providers/error_book_provider.g.dart
  mobile/lib/features/error_book/data/repositories/error_book_repository.dart
  mobile/lib/features/error_book/presentation/screens/add_error_screen.dart
  mobile/lib/features/error_book/presentation/screens/error_detail_screen.dart
  mobile/lib/features/error_book/presentation/screens/error_list_screen.dart
  mobile/lib/features/error_book/presentation/screens/review_screen.dart
  mobile/lib/features/error_book/presentation/widgets/analysis_card.dart
  mobile/lib/features/error_book/presentation/widgets/error_card.dart
  mobile/lib/features/error_book/presentation/widgets/review_performance_buttons.dart
  mobile/lib/features/error_book/presentation/widgets/subject_chips.dart
  proto/error_book.proto
Due: backend-python, backend-go, mobile, Python Backend Core, Go Gateway

fix(integration): align error book API fields and linearize database migrations
  backend/alembic/versions/p1_1_jsonb_migration.py
  backend/alembic/versions/p2_add_user_tool_history.py
  backend/app/services/error_book_grpc_service.py
  mobile/README.md
  mobile/lib/features/error_book/data/repositories/error_book_repository.dart
Due: backend-python, mobile, Python Backend Core

fix(migrations): complete migration chain with missing files
  backend/alembic/versions/p1_2_error_book.py
  backend/alembic/versions/p3_add_node_positions.py
Due: none

chore: remove database files from git history and update gitignore
  ._postgres_data
Due: none

feat(galaxy): 添加知识节点掌握度更新功能和指标监控
  COMMAND_REFERENCE.md
  PERFORMANCE_WEEK3_SUMMARY.md
  PHASE0_COMPLETE_FINAL_SUMMARY.md
  PHASE0_COMPLETE_SUMMARY.md
  PHASE0_STATUS.txt
  PRODUCTION_DEPLOYMENT_CHECKLIST.md
  QUICK_START_CELERY.md
  QUICK_START_PRODUCTION.md
  README_PHASE0.md
  backend/alembic/versions/effadcff68cd_add_mastery_audit_log_and_outbox_events.py
  backend/app/core/event_bus.py
  backend/app/core/metrics.py
  backend/app/core/tracing.py
  backend/app/services/galaxy_service.py
  backend/config/production_celery.py
  backend/gateway/go.mod
  backend/gateway/go.sum
  backend/gateway/internal/worker/outbox_relay.go
  backend/requirements.txt
  backend/tests/integration/final_validation.py
  backend/tests/performance/benchmark_suite.py
  backend/tests/performance/test_celery_stress.py
  backend/tests/performance/worker_tuner.py
  docs/PERFORMANCE_TUNING_GUIDE.md
  docs/WEEK4_PRODUCTION_DEPLOYMENT_PLAN.md
  mobile/lib/core/offline/conflict_resolver.dart
  mobile/lib/core/offline/local_database.dart
  mobile/lib/core/offline/local_database.g.dart
  mobile/lib/core/offline/network_monitor.dart
  mobile/lib/core/offline/sync_queue.dart
  mobile/lib/data/models/cognitive_fragment_model.g.dart
  mobile/lib/data/models/focus_session_model.freezed.dart
  mobile/lib/data/models/focus_session_model.g.dart
  mobile/lib/features/error_book/data/models/error_record.freezed.dart
  mobile/lib/features/error_book/data/models/error_record.g.dart
  mobile/lib/features/error_book/data/providers/error_book_provider.g.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  monitoring/celery_alerts.yml
  monitoring/prometheus-celery.yml
Due: backend-python, backend-go, mobile, Python Backend Core, Go Gateway

feat(galaxy): 实现知识节点协同学习功能
  backend/alembic/versions/add_global_spark_count.py
  backend/app/core/event_bus.py
  backend/app/core/metrics.py
  backend/app/models/galaxy.py
  backend/app/schemas/galaxy.py
  backend/app/services/galaxy_service.py
  backend/gateway/cmd/server/main.go
  backend/gateway/internal/config/config.go
  backend/gateway/internal/worker/outbox_relay.go
  mobile/lib/core/offline/local_database.dart
  mobile/lib/core/offline/sync_queue.dart
Due: backend-python, backend-go, mobile, Python Backend Core, Go Gateway

feat(gateway): 添加galaxy服务gRPC客户端和mastery同步功能
  Makefile
  backend/app/api/v1/galaxy.py
  backend/app/core/metrics.py
  backend/app/services/galaxy_grpc_service.py
  backend/gateway/cmd/server/main.go
  backend/gateway/internal/galaxy/client.go
  backend/gateway/internal/handler/chat_orchestrator.go
  backend/gateway/internal/infra/logger/logger.go
  mobile/lib/core/offline/local_database.dart
  mobile/lib/core/offline/local_database.g.dart
  mobile/lib/core/offline/network_monitor.dart
  mobile/lib/core/offline/sync_queue.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/unit/offline_sync_test.dart
  mobile/test/unit/offline_sync_test.mocks.dart
  proto/galaxy_service.proto
Due: backend-python, backend-go, mobile, Python Backend Core, Go Gateway

feat(analytics): 添加周报生成和下载功能
  PHASE2_OPTIMIZATION_REPORT.md
  backend/alembic/versions/5d49f5939ec8_add_initial_mastery_to_study_records.py
  backend/alembic/versions/c40859dd0336_merge_multiple_heads.py
  backend/alembic/versions/p2_add_user_tool_history.py
  backend/alembic/versions/p5_community_advanced_features.py
  backend/app/api/v1/analytics.py
  backend/app/models/galaxy.py
  backend/app/services/analytics/blindspot_analyzer.py
  backend/app/services/analytics/weekly_stats_service.py
  backend/app/services/analytics/weekly_synthesis_service.py
  backend/app/services/galaxy_service.py
  backend/app/services/semantic_cache_service.py
  backend/app/templates/weekly_report.html
  backend/check_db.py
  backend/docs/DB_PARTITIONING_STRATEGY.md
  backend/gateway/internal/handler/chat_orchestrator.go
  backend/grpc_server.py
  backend/requirements.txt
  backend/scripts/test_report_generation.py
  backend/test_weekly_report.pdf
  backend/tests/services/test_semantic_cache_service.py
  mobile/lib/data/models/compact_knowledge_node.dart
  mobile/lib/data/models/compact_knowledge_node.g.dart
  mobile/test/unit/compact_knowledge_node_test.dart
  mobile/test/unit/offline_sync_test.mocks.dart
Due: backend-python, backend-go, mobile, Python Backend Core, Go Gateway

feat(galaxy): 添加版本控制和冲突解决机制
  backend/alembic/versions/p6_add_revision_to_mastery.py
  backend/app/models/galaxy.py
  backend/app/services/galaxy_grpc_service.py
  backend/app/services/galaxy_service.py
  mobile/lib/presentation/screens/galaxy_screen.dart
  mobile/lib/presentation/widgets/galaxy/star_map_painter.dart
Due: backend-python, mobile, Python Backend Core, Mobile UI Components

Path conditions:
  backend-python: any of: backend/app/, but not: **/*_test.go, **/*_test.py, **/test/**, **/tests/**, **/*.pb.go, **/*_pb2.py, **/*_pb2_grpc.py, **/generated/**, **/mocks/**, **/*.g.dart, **/*.freezed.dart, **/migrations/**, **/alembic/**
  backend-go: any of: backend/gateway/, but not: **/*_test.go, **/*_test.py, **/test/**, **/tests/**, **/*.pb.go, **/*_pb2.py, **/*_pb2_grpc.py, **/generated/**, **/mocks/**, **/*.g.dart, **/*.freezed.dart, **/migrations/**, **/alembic/**
  mobile: any of: mobile/lib/, but not: **/*_test.go, **/*_test.py, **/test/**, **/tests/**, **/*.pb.go, **/*_pb2.py, **/*_pb2_grpc.py, **/generated/**, **/mocks/**, **/*.g.dart, **/*.freezed.dart, **/migrations/**, **/alembic/**
  Python Backend Core: any of: backend/app/orchestrator/**, backend/app/services/**, backend/app/tools/**, but not: **/*_test.go, **/*_test.py, **/test/**, **/tests/**, **/*.pb.go, **/*_pb2.py, **/*_pb2_grpc.py, **/generated/**, **/mocks/**, **/*.g.dart, **/*.freezed.dart, **/migrations/**, **/alembic/**
  Go Gateway: any of: backend/gateway/internal/**, but not: **/*_test.go, **/*_test.py, **/test/**, **/tests/**, **/*.pb.go, **/*_pb2.py, **/*_pb2_grpc.py, **/generated/**, **/mocks/**, **/*.g.dart, **/*.freezed.dart, **/migrations/**, **/alembic/**
  Mobile State Management: any of: mobile/lib/providers/**, mobile/lib/core/services/**, but not: **/*_test.go, **/*_test.py, **/test/**, **/tests/**, **/*.pb.go, **/*_pb2.py, **/*_pb2_grpc.py, **/generated/**, **/mocks/**, **/*.g.dart, **/*.freezed.dart, **/migrations/**, **/alembic/**
  Mobile UI Components: any of: mobile/lib/presentation/**, but not: **/*_test.go, **/*_test.py, **/test/**, **/tests/**, **/*.pb.go, **/*_pb2.py, **/*_pb2_grpc.py, **/generated/**, **/mocks/**, **/*.g.dart, **/*.freezed.dart, **/migrations/**, **/alembic/**
