Repository ZYN-zyn77/Sparkle-project: changes, and which Codecov flags are due for each by the changed paths.
All: backend-python, backend-go, mobile, Python Backend Core, Go Gateway, Mobile State Management, Mobile UI Components

chore(minio): 更新MinIO系统元数据文件
  minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage.json/xl.meta
  minio_data/.minio.sys/tmp/.trash/aba377b2-686f-4207-a6da-5eed021ccb8f/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/ad0155f5-9f62-4be8-805f-30b1fbc60194/xl.meta.bkp
Due: none

chore(minio): 清理临时垃圾文件中的备份元数据
  minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage.json/xl.meta
  minio_data/.minio.sys/tmp/.trash/1180e277-4cc6-4810-a6ce-2ef9998f34af/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/2ef76349-c8ac-4240-8b42-5d88623a09c2/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/3606409e-7931-4f6d-af78-3959b0200012/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/364e1ddb-62de-40c4-a9fe-2676e119ecb0/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/43c676ec-820a-444b-b23b-08b10e01873d/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/5c05d6da-7ceb-4dab-8ad1-b7a321b01e47/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/aba377b2-686f-4207-a6da-5eed021ccb8f/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/aca07f92-1f81-46d7-88d5-58f774d10eb5/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/ad0155f5-9f62-4be8-805f-30b1fbc60194/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/d5d527cc-dd9b-4110-817d-497c475b9a36/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/e7912bc7-ccaa-451d-8a64-fc52ba227f49/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/ef9924cb-9bd8-4dde-ae57-707b877a5835/xl.meta.bkp
  mobile/lib/data/repositories/mock_community_repository.dart
  mobile/lib/data/repositories/plan_repository.dart
  mobile/lib/features/chat/data/repositories/chat_repository.dart
  mobile/lib/features/chat/presentation/screens/chat_screen.dart
  mobile/lib/features/file/data/services/file_upload_service.dart
  mobile/lib/features/galaxy/data/services/galaxy_accessibility_service.dart
  mobile/lib/features/galaxy/presentation/providers/galaxy_provider.dart
  mobile/lib/features/galaxy/presentation/widgets/galaxy/star_map_painter.dart
  mobile/lib/features/task/presentation/providers/task_chat_provider.dart
  mobile/lib/presentation/screens/community/group_files_screen.dart
  mobile/lib/presentation/widgets/achievements/achievement_card_generator.dart
  mobile/lib/presentation/widgets/chat/agent_reasoning_bubble.dart
  mobile/lib/presentation/widgets/chat/chat_bubble.dart
  mobile/lib/presentation/widgets/chat/file_message_bubble.dart
  mobile/lib/presentation/widgets/community/group_chat_bubble.dart
  mobile/lib/presentation/widgets/file/file_picker_with_presigned.dart
  mobile/test/features/galaxy/unit/galaxy_layout_engine_test.dart
Due: mobile, Mobile UI Components

feat(event-bus): 使用Redis Streams替换RabbitMQ实现事件总线
  backend/app/core/context_manager.py
  backend/app/core/event_bus.py
  backend/app/gen/agent/v1/agent_service_pb2.py
  backend/app/gen/agent/v1/agent_service_pb2.pyi
  backend/app/gen/agent/v1/agent_service_pb2_grpc.py
  backend/app/models/__init__.py
  backend/app/models/task.py
  backend/app/orchestration/orchestrator.py
  backend/app/services/error_book_service.py
  backend/app/services/galaxy_service.py
  backend/celerybeat-schedule
  backend/gateway/gen/agent/v1/agent_service.pb.go
  backend/gateway/gen/agent/v1/agent_service_grpc.pb.go
  backend/gateway/internal/cqrs/event/redis_bus_test.go
  backend/tests/services/test_error_loop.py
  backend/tests/test_context_injection.py
  backend/tests/test_context_manager.py
  minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage.json/xl.meta
  minio_data/.minio.sys/tmp/.trash/17bf2e19-98ea-4eec-a66f-1babe87cae4c/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/5a7a5b27-b8fe-4405-aba7-04696658978c/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/5e6509df-cf2e-4668-9f74-7436205ce7fc/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/6e3045c2-c9cc-428c-b1fa-831d7cbbc30c/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/7350898f-d26a-489d-8774-16f42b2cab0c/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/8f2ea13a-9a37-485e-8657-11c174cc04e4/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/9be5593e-85c5-4e26-84ac-6522f17dbd64/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/a459d478-b677-4dfe-992a-ffb8b0e52414/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/a7599f99-eabd-451a-90f7-8f925418fde2/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/c8906d42-9d6f-46a3-8925-80fd162bbb33/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/d030c030-72c4-429f-9302-8150d92ffe02/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/d2c568a8-45a9-435d-ada0-2c746b5c28fa/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/db9886e5-fbf0-4d1a-85b5-d24a1a8608de/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/dc77481e-3e2d-412c-aee4-8e0fab82e8ce/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/e4eaca2b-76f4-4776-a382-917ae4cbecfc/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/f2447c77-5a9a-4326-ab86-21cdd49b6f6f/xl.meta.bkp
  mobile/lib/features/galaxy/presentation/providers/galaxy_provider.dart
  mobile/test/features/galaxy/unit/galaxy_provider_test.dart
  proto/agent_service.proto
Due: backend-python, mobile, Python Backend Core

chore(minio): 更新MinIO系统元数据文件
  backend/app/services/analytics/behavior_pattern_service.py
  backend/app/services/nudge_service.py
  backend/tests/services/test_behavior_pattern_service.py
  minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage.json/xl.meta
  minio_data/.minio.sys/tmp/.trash/17bf2e19-98ea-4eec-a66f-1babe87cae4c/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/286aa314-b509-4025-aa8e-9dd1663d0bec/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/7350898f-d26a-489d-8774-16f42b2cab0c/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/8f2ea13a-9a37-485e-8657-11c174cc04e4/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/a7599f99-eabd-451a-90f7-8f925418fde2/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/c8906d42-9d6f-46a3-8925-80fd162bbb33/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/d030c030-72c4-429f-9302-8150d92ffe02/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/d2c568a8-45a9-435d-ada0-2c746b5c28fa/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/db9886e5-fbf0-4d1a-85b5-d24a1a8608de/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/ddcbf213-1262-47f0-a41a-33650c5ccbd2/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/e4eaca2b-76f4-4776-a382-917ae4cbecfc/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/f2447c77-5a9a-4326-ab86-21cdd49b6f6f/xl.meta.bkp
Due: backend-python, Python Backend Core

Implement new agent RPC handlers and fix migration chain
  backend/alembic/versions/p10_persona_v31.py
  backend/app/services/agent_grpc_service.py
Due: backend-python, Python Backend Core

feat: 添加GRPC认证拦截器和安全配置
  backend/.env.example
  backend/app/api/grpc_auth.py
  backend/app/core/rate_limiting.py
  backend/app/services/agent_grpc_service.py
  backend/app/services/galaxy/retrieval_service.py
  backend/gateway/internal/agent/client.go
  backend/grpc_server.py
  docker-compose.yml
  minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage.json/xl.meta
  minio_data/.minio.sys/tmp/.trash/0133eac9-5065-434d-b87c-b92c0b5bfc11/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/1f2340b2-070f-493b-8900-16199de4d47f/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/5bbf946f-19f6-4fc5-a0f4-d6ba9252fdf2/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/69155968-e9be-49a0-8dcd-cd63de18106b/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/6bb77362-824c-47f5-96c3-c7b863824c07/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/75a7ae18-5a4e-4e02-b98a-73202ec31353/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/7b3c5295-3f83-4e6b-9bf0-ca940c896573/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/84404d09-7406-4ac5-9d34-66404dafc257/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/a3c35d65-ba8a-4d9c-99d2-77479fdb61b2/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/bd1212f6-47be-4cf7-874f-d1579f8e7a35/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/c6778332-d38b-4a5d-b7b9-7129341a8237/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/d707476a-89ae-4053-95b5-1e286544c129/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/e3feaa47-e6fe-434a-863c-bfc8ee1f5d96/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/fcab3364-e0d8-431f-9398-051dde82fe27/xl.meta.bkp
  mobile/lib/core/offline/local_database.dart
  monitoring/prometheus.yml
  monitoring/promtail-config.yaml
Due: backend-python, backend-go, mobile, Python Backend Core, Go Gateway

feat: 添加自适应性能监控和降级系统
  docs/GALAXY_PERFORMANCE_GUIDE.md
  mobile/lib/core/design/theme/performance_tier.dart
  mobile/lib/core/services/performance_service.dart
  mobile/lib/core/services/text_cache.dart
  mobile/lib/features/galaxy/data/models/galaxy_optimization_config.dart
  mobile/lib/features/galaxy/data/services/galaxy_layout_engine.dart
  mobile/lib/features/galaxy/data/services/galaxy_performance_monitor.dart
  mobile/lib/features/galaxy/presentation/providers/galaxy_provider.dart
  mobile/lib/features/galaxy/presentation/screens/galaxy_screen.dart
  mobile/lib/features/galaxy/presentation/widgets/galaxy/sector_background_painter.dart
  mobile/lib/features/galaxy/presentation/widgets/galaxy/star_map_painter.dart
  plans/galaxy_tiered_optimization.md
Due: mobile, Mobile State Management

feat(ui): implement Luminous Cognition visual upgrade
  mobile/assets/images/noise_texture.png
  mobile/lib/core/design/design_system.dart
  mobile/lib/core/design/materials.dart
  mobile/lib/core/design/tokens_v2/theme_manager.dart
  mobile/lib/presentation/widgets/chat/chat_bubble.dart
  mobile/lib/presentation/widgets/home/curiosity_capsule_card.dart
  mobile/lib/presentation/widgets/home/dashboard_curiosity_card.dart
  mobile/lib/presentation/widgets/home/focus_card.dart
  mobile/lib/presentation/widgets/home/omnibar.dart
  mobile/lib/presentation/widgets/home/prism_card.dart
  mobile/lib/presentation/widgets/home/sprint_card.dart
Due: mobile, Mobile UI Components

feat(ui): artistic polish for galaxy and chat
  mobile/lib/features/galaxy/presentation/screens/galaxy_screen.dart
  mobile/lib/features/galaxy/presentation/widgets/galaxy/star_map_painter.dart
  mobile/lib/presentation/widgets/chat/agent_reasoning_bubble_v2.dart
Due: mobile, Mobile UI Components

docs: add Luminous Cognition alignment report
  LUMINOUS_COGNITION_ALIGNMENT_REPORT.md
Due: none

feat(material): 实现MaterialStyler渲染器并重构材料系统
  LUMINOUS_COGNITION_ALIGNMENT_REPORT.md
  UI_OPTIMIZATION_REVIEW.md
  mobile/lib/app/app.dart
  mobile/lib/app/theme.dart
  mobile/lib/core/design/materials.dart
  mobile/lib/core/design/tokens_v2/theme_manager.dart
  mobile/lib/core/offline/local_database.dart
  mobile/lib/core/services/device_performance_service.dart
  mobile/lib/core/services/performance_service.dart
  mobile/lib/features/galaxy/data/models/galaxy_optimization_config.dart
  mobile/lib/features/galaxy/data/services/galaxy_performance_monitor.dart
  mobile/lib/features/galaxy/presentation/screens/galaxy/galaxy_screen.dart
  mobile/lib/features/galaxy/presentation/widgets/galaxy/central_flame.dart
  mobile/lib/features/galaxy/presentation/widgets/galaxy/energy_particle.dart
  mobile/lib/features/galaxy/presentation/widgets/galaxy/sector_background_painter.dart
  mobile/lib/features/user/presentation/screens/theme_settings_screen.dart
  mobile/lib/features/user/presentation/screens/unified_settings_screen.dart
  mobile/lib/main.dart
  mobile/lib/presentation/providers/theme_provider.dart
  mobile/lib/presentation/screens/focus/mindfulness_mode_screen.dart
  mobile/lib/presentation/screens/stats/calendar_stats_screen.dart
  mobile/lib/presentation/widgets/chat/chat_bubble.dart
  mobile/macos/Podfile.lock
  mobile/test/widget/theme_provider_test.dart
  mobile/前端样式详细分析文档.md
  mobile/深色浅色模式.md
  plans/LUMINOUS_COGNITION_DESIGN_SPEC.md
Due: mobile, Mobile State Management, Mobile UI Components

perf(galaxy): 优化性能监控和星图渲染
  mobile/lib/core/services/performance_service.dart
  mobile/lib/features/galaxy/presentation/screens/galaxy_screen.dart
  mobile/lib/features/galaxy/presentation/widgets/galaxy/star_map_painter.dart
Due: mobile, Mobile State Management

项目配置指南
  GIT_STATUS_SUMMARY.md
  PRE_COMMIT_CHECKLIST.md
  SETUP_GUIDE.md
  SETUP_GUIDE_INDEX.md
  SETUP_GUIDE_WINDOWS.md
Due: none

docs(setup-guide): 重构开发者环境配置指南
  SETUP_GUIDE.md
  Sparkle (星火) 项目进展与现状报告.md
  docs/00_项目概览/02_技术架构.md
  docs/01_核心模块文档/06_聊天系统实现细节.md
  docs/02_技术设计文档/03_API参考.md
  docs/02_技术设计文档/09_Design_System_V2_指南.md
  docs/03_重构与优化报告/12_性能优化完整指南.md
  docs/03_重构与优化报告/GALAXY_PERFORMANCE_GUIDE.md
  docs/03_重构与优化报告/PERFORMANCE_TUNING_GUIDE.md
  docs/04_功能实现指南/CELERY_DEPLOYMENT_GUIDE.md
  docs/06_安全与质量报告/03_生产部署指南.md
  docs/06_安全与质量报告/安全防护指南.md
  docs/08_文档索引.md
  docs/08_深度教程/01_完整技术栈详解.md
  docs/08_深度教程/02_快速参考手册.md
  docs/08_深度教程/03_架构决策记录.md
  docs/08_深度教程/性能优化与最佳实践_详细教案.md
  docs/08_深度教程/深度技术讲解教案_完整版.md
  docs/08_深度教程/深度技术讲解文档.md
  docs/08_深度教程/深度技术讲解文档_增强版.md
  docs/_archive/._MOBILE_ARCHITECTURE_GOVERNANCE.md
  docs/_archive/ALIBABA_COLLABORATION_BRIEF.md
  docs/_archive/MOBILE_ARCHITECTURE_GOVERNANCE.md
  docs/_archive/Sparkle多Agent系统改进方案完整报告.md
  docs/_archive/WEEK4_PRODUCTION_DEPLOYMENT_PLAN.md
  docs/_archive/check_go
  docs/_archive/check_go.go
  docs/_archive/community_chat_upgrade_report.md
  mobile/lib/core/design/materials.dart
  mobile/lib/features/chat/presentation/widgets/agent_reasoning_bubble_v2.dart
  mobile/lib/features/chat/presentation/widgets/chat_bubble.dart
  mobile/lib/features/home/presentation/widgets/omnibar.dart
Due: mobile

feat(core): 添加代码差异比较功能
  Sparkle (星火) 项目进展与现状报告.md
  docs/02_技术设计文档/01_技术白皮书.md
  docs/02_技术设计文档/04_数据库设计.md
  docs/02_技术设计文档/06_框架概览.md
  docs/02_技术设计文档/10_gRPC协议定义.md
  docs/02_技术设计文档/11_Docker配置详解.md
Due: none

feat(chat): 添加夜间复盘功能支持
  minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage.json/xl.meta
  minio_data/.minio.sys/tmp/.trash/180df613-3322-410a-9053-5bd3dad5a9c8/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/2f6ee3bb-b647-4f97-bc90-b49d5bc82a07/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/315c30a5-5d38-4746-ae8d-eb9529372487/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/3a614a12-dd8a-4677-82ef-0f6d394eeb32/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/590c473a-235c-4b24-a8c7-d356e73c7b70/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/6f7c084e-da03-4077-a62f-f2ee15fac521/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/b1e1e273-004e-43e6-8e28-c605f7020546/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/c8c424ae-4dfc-46b2-a27a-96759acc1dbd/xl.meta.bkp
  mobile/lib/features/chat/presentation/providers/chat_provider.dart
  mobile/lib/features/chat/presentation/widgets/action_card.dart
  mobile/lib/features/error_book/data/models/error_semantic_summary.dart
  mobile/lib/features/error_book/data/providers/error_book_provider.dart
  mobile/lib/features/error_book/data/repositories/error_book_repository.dart
  mobile/lib/features/error_book/presentation/screens/error_detail_screen.dart
  mobile/lib/features/insights/presentation/screens/learning_forecast_screen.dart
  mobile/lib/features/reviews/presentation/widgets/nightly_review_panel.dart
Due: mobile

refactor(galaxy): 重构优化配置类结构并改进渲染引擎性能
  mobile/lib/features/chat/presentation/widgets/action_card.dart
  mobile/lib/features/galaxy/data/models/galaxy_optimization_config.dart
  mobile/lib/features/galaxy/data/services/galaxy_render_engine.dart
Due: mobile

refactor(mobile): 将工厂方法转换为静态常量并优化应用启动流程
  mobile/lib/features/galaxy/data/models/galaxy_optimization_config.dart
  mobile/lib/features/galaxy/data/services/galaxy_render_engine.dart
  mobile/lib/main.dart
  mobile/test/reasoning_visualization_test.dart
  mobile/test/unit/community_agent_provider_test.dart
  mobile/test/widget/focus_agent_sheet_test.dart
  mobile/test/widget/theme_provider_test.dart
Due: mobile

feat(backend): 添加OpenTelemetry追踪支持并优化消息去重机制
  backend/app/orchestration/orchestrator_production.py
  mobile/lib/core/offline/crdt_persistence.dart
  mobile/lib/core/offline/sync_engine.dart
  mobile/lib/core/offline/sync_queue.dart
  mobile/lib/core/services/websocket_service.dart
  mobile/lib/core/tracing/tracing_service.dart
  mobile/lib/features/chat/data/services/websocket_chat_service_v2.dart
  mobile/lib/main.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: backend-python, mobile, Mobile State Management

feat(config): 更新后端配置文件以支持重排序服务
  backend/.env.example
  backend/app/config.py
  backend/app/services/rerank_service.py
  minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
  minio_data/.minio.sys/buckets/.usage-cache.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage.json/xl.meta
  minio_data/.minio.sys/buckets/sparkle-files/.usage-cache.bin.bkp/xl.meta
  minio_data/.minio.sys/buckets/sparkle-files/.usage-cache.bin/xl.meta
  minio_data/.minio.sys/tmp/.trash/08bee7c9-b465-470e-b790-ce369b07539b/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/098753dc-bfc7-4073-a450-b934d3b303e4/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/0ac363d2-6e95-4fa9-ba05-84d15b9a9aa6/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/0e8a32b8-366a-4bce-a203-f484b1ce46b9/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/0fe54efb-c56b-44e8-aa2a-a183f34c4979/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/1c055601-a6f4-4858-9cdd-bd0a1737a91c/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/2b27cbd3-ac26-46c0-b5a7-c57d4e989306/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/2cba84e6-403c-4fac-8de8-ac66295d50fe/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/3bac7c76-a94c-4c87-8e79-d53626022b8d/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/4e9e9e0c-a124-493c-b73f-3ab891c6e09d/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/5574d999-2897-47f4-b71b-5fcf8a9ab8dd/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/558b89b3-c8b5-43fc-a52b-4f511921b0ef/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/6a20536d-8cb4-4b0a-8e28-63fbf22972ac/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/6efcf08f-05eb-40b2-aa15-1d274b364f38/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/8bd1d7bb-cd68-40dd-9097-0bc446d5b699/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/9666e9e4-b42b-497b-93a5-79bbecccea4d/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/9b67d12c-0d81-4593-841e-e950fe60492c/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/a5a1eba2-9791-44b9-ba7b-073271287cc9/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/a6526cbb-060a-4343-8e15-52bd541fa0ef/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/c5afd267-a1ba-45e2-ad78-6646eb61fd67/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/cc6ddedc-e833-43a4-a5f6-641360fc00ae/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/d40625e3-e5e7-469f-b7ec-ac28300df372/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/d6acc9e4-2e99-431c-a276-f6d43f7a2700/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/e1b6ef39-800b-47d7-be03-666ea3b99b68/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/e4557db3-2c97-4485-901b-d8dd06bbffc7/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/e4fdd59b-02a0-41d4-b54d-1238fccdc38b/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/e5d3a09a-f731-4b6c-b224-a2bdb861288d/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/e5fe62d3-7647-406f-99dc-8a9a8d74b6fd/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/ebd9e582-7721-4dd8-ab37-6bcd9dcaa467/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/ed0e1d89-7cab-4f78-b2c7-f521710d54dc/xl.meta.bkp
Due: backend-python, Python Backend Core

feat(config): 添加数据库配置参数并统一Redis密码
  backend/app/config.py
  backend/celerybeat-schedule
  backend/gateway/internal/db/query.sql
  backend/gateway/internal/db/query.sql.go
  backend/tests/test_graph_rag.py
  docker-compose.yml
  minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
  minio_data/.minio.sys/buckets/.usage-cache.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage.json/xl.meta
  minio_data/.minio.sys/buckets/sparkle-files/.usage-cache.bin.bkp/xl.meta
  minio_data/.minio.sys/buckets/sparkle-files/.usage-cache.bin/xl.meta
  minio_data/.minio.sys/tmp/.trash/0483263d-66e2-4443-932d-82ffdeeccee4/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/05fe5346-2dc7-46e8-9962-13ac52a1861c/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/11adbcc1-6a76-4036-a638-1afded338c15/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/198be4f2-2da9-4441-aea0-a0574424f289/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/350e31f8-fef0-4037-930b-2cca26f9445a/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/38317574-d213-45d0-88aa-fc78beb2b2b8/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/3b9b3b15-1c8f-4e4a-a6e3-cb5c786ca170/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/42c42349-f809-479c-9828-f183ce4d0cef/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/44631bbc-8742-445b-be52-fd193ab94ef7/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/75c26517-9790-42c8-a9fe-83c3651078f6/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/86370a49-edeb-4e1f-8273-848f7e2f85cb/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/8a12b52e-14c2-4fad-9c46-edbc4675d785/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/9abe1fc4-ade7-4df5-a8cd-7ddfa5fe2e6b/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/c59cfe72-46dd-4615-b8c8-289fbdf348a4/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/c94aedaa-0d7f-4009-9c06-4404c8d49957/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/df137031-e7a4-4b11-8a54-1f7dd39eadf9/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/e5b391f0-db3e-4184-8bee-c72849618754/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/f8aa2090-4597-4160-b2cd-244301b53c8a/xl.meta.bkp
Due: backend-python, backend-go, Go Gateway

feat(backend): 添加错误记录表重建逻辑和索引优化
  backend/alembic/versions/732657da3d7b_fresh_init_complete.py
  backend/celerybeat-schedule
  minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
  minio_data/.minio.sys/buckets/.heal/mrf/list.bin
  minio_data/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
  minio_data/.minio.sys/buckets/.usage-cache.bin/xl.meta
  minio_data/.minio.sys/buckets/.usage.json/xl.meta
  minio_data/.minio.sys/buckets/sparkle-files/.usage-cache.bin.bkp/xl.meta
  minio_data/.minio.sys/buckets/sparkle-files/.usage-cache.bin/xl.meta
  minio_data/.minio.sys/tmp/.trash/1f9c53c8-9f8a-4382-9a8f-54055f719fac/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/226faa3d-467b-4481-8661-dc065eb14cc4/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/2d75c381-8f5d-4cf2-bc73-6242941d518d/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/424d4c8f-b1a6-4e97-8ca0-bb3219160dd9/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/62c63b79-bd25-4d5f-9788-a6a80392ecf6/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/65ef0175-67c0-4dd8-a0b5-717b0434722d/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/6710f165-ff2a-4ec2-b749-9805525dcd84/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/6c847067-3f57-4756-8eee-7153e79787ea/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/a0165163-18a9-4b66-8e6b-b230fcd5f62a/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/a6bb63c1-d629-4b17-8c81-c4b049ee83c3/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/b7f88c77-2061-48a9-a231-607b3f602e34/xl.meta.bkp
  minio_data/.minio.sys/tmp/.trash/e89bb805-cdd1-4ed8-a32c-1786b2d812d5/xl.meta.bkp
Due: none

fix(backend): 修复数据库URL中特殊字符%导致的配置解析错误
  backend/alembic/env.py
Due: none

Path conditions:
  backend-python: any of: backend/app/, but not: **/*_test.go, **/*_test.py, **/test/**, **/tests/**, **/*.pb.go, **/*_pb2.py, **/*_pb2_grpc.py, **/generated/**, **/mocks/**, **/*.g.dart, **/*.freezed.dart, **/migrations/**, **/alembic/**
  backend-go: any of: backend/gateway/, but not: **/*_test.go, **/*_test.py, **/test/**, **/tests/**, **/*.pb.go, **/*_pb2.py, **/*_pb2_grpc.py, **/generated/**, **/mocks/**, **/*.g.dart, **/*.freezed.dart, **/migrations/**, **/alembic/**
  mobile: any of: mobile/lib/, but not: **/*_test.go, **/*_test.py, **/test/**, **/tests/**, **/*.pb.go, **/*_pb2.py, **/*_pb2_grpc.py, **/generated/**, **/mocks/**, **/*.g.dart, **/*.freezed.dart, **/migrations/**, **/alembic/**
  Python Backend Core: any of: backend/app/orchestrator/**, backend/app/services/**, backend/app/tools/**, but not: **/*_test.go, **/*_test.py, **/test/**, **/tests/**, **/*.pb.go, **/*_pb2.py, **/*_pb2_grpc.py, **/generated/**, **/mocks/**, **/*.g.dart, **/*.freezed.dart, **/migrations/**, **/alembic/**
  Go Gateway: any of: backend/gateway/internal/**, but not: **/*_test.go, **/*_test.py, **/test/**, **/tests/**, **/*.pb.go, **/*_pb2.py, **/*_pb2_grpc.py, **/generated/**, **/mocks/**, **/*.g.dart, **/*.freezed.dart, **/migrations/**, **/alembic/**
  Mobile State Management: any of: mobile/lib/providers/**, mobile/lib/core/services/**, but not: **/*_test.go, **/*_test.py, **/test/**, **/tests/**, **/*.pb.go, **/*_pb2.py, **/*_pb2_grpc.py, **/generated/**, **/mocks/**, **/*.g.dart, **/*.freezed.dart, **/migrations/**, **/alembic/**
  Mobile UI Components: any of: mobile/lib/presentation/**, but not: **/*_test.go, **/*_test.py, **/test/**, **/tests/**, **/*.pb.go, **/*_pb2.py, **/*_pb2_grpc.py, **/generated/**, **/mocks/**, **/*.g.dart, **/*.freezed.dart, **/migrations/**, **/alembic/**
